* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    width: 1000px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.welcome-section {
    flex: 1;
    background: linear-gradient(135deg, #FF5F6D, #FFC371);
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.login-btn {
    background-color: #fff;
    color: #FF5F6D;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #FFC371;
    color: #fff;
}

.form-section {
    flex: 1.5;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.toggle-btns {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.toggle-btn {
    border: none;
    background-color: transparent;
    color: #FF5F6D;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.toggle-btn.active {
    background-color: #FF5F6D;
    color: white;
}

.toggle-btn:hover {
    background-color: #FFC371;
    color: white;
}

form {
    width: 100%;
}

form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 12px;
}

.form-group input, .form-group select {
    width: 48%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    font: Helvetica;
}

.gender-group {
    justify-content: flex-start;
    align-items: center;
}

.gender-group label {
    margin-left: 20px;
}

.register-btn {
    width: 100%;
    padding: 15px;
    background-color: #FF5F6D;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #FFC371;
}
